<app-user></app-user>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Issued By</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of data;let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ ticket.issuedBy }}</td>
            <td>{{ ticket.email }}</td>
            <td>{{ ticket.type }}</td>
            <td>
                <div *ngIf = "ticket.priority == 1">
                    Low
                </div>
                <div *ngIf = "ticket.priority == 2">
                    Medium
                </div>
                <div *ngIf = "ticket.priority == 3">
                    High
                </div>
            </td>
            <td>
                <div *ngIf = "ticket.status == -1">
                    Rejected
                </div>
                <div *ngIf = "ticket.status == 0">
                    Pending
                </div>
                <div *ngIf = "ticket.status == 1">
                    Approved
                </div>
            </td>
            <td>
                <div *ngIf = "ticket.status == 0">
                    <i (click)="approve()" class="fa fa-check" aria-hidden="true"></i>
                    <i (click)="reject()" class="fa fa-ban" aria-hidden="true"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>