<app-user></app-user>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">Type</th>
            <th scope="col">Priority</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data_split;let i = index" (click)="getId(row.id)">
            <td>{{ row.id }}</td>
            <td>{{ row.type }}</td>
            <td>
                <div *ngIf="row.priority == 3">
                    Low
                </div>
                <div *ngIf="row.priority == 2">
                    Medium
                </div>
                <div *ngIf="row.priority == 1">
                    High
                </div>
            </td>
            <td>
                <div *ngIf="row.status == -1">
                    Rejected
                </div>
                <div *ngIf="row.status == 0 && !row.isProcessing">
                    Pending
                </div>
                <div *ngIf="row.status == 0 && row.isProcessing">
                    Processing
                </div>
                <div *ngIf="row.status == 1">
                    Approved
                </div>
            </td>
            <td>
                <!-- <p>{{ !row.isProcessing && row.status == 0 }}</p> -->
                <button class="btn btn-primary" [disabled]="row.isProcessing || row.status != 0"
                    (click)="clickEdit(row.id)">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
<ngb-pagination [(page)]="page" pageSize="5" [collectionSize]="collectionSize"></ngb-pagination>