<form class="mx-auto " method="POST" #f="ngForm" (ngSubmit)="submit(f.value)">
    <div class="form-group">
        <label for="Country"></label>
        <input ngModel name="field" #field="ngModel" id="field" type="text" placeholder="dummy"
            class="form-control">
    </div>
    <!-- <p>
        {{ f.value | json }}
    </p> -->
    <button class="btn btn-primary" id="signup-btn" [disabled]="!f.valid">Submit</button>
</form>
<div id="container">
    <div *ngIf="chart" class="chart-container" style="position: relative;height: 400px;width: 400px;margin-top: 30px">
        <canvas id="canvas">{{ chart }}</canvas>
    </div>
</div>