<div id="main" style="background-image: url('assets/media/img/back.jpg')">

  <div class="container-fluid " style="margin-top: 200px">
    <div class="container card shadow-lg" style="height: 100%; padding:0px">
      <div class="row no-gutters">
        <div class="col-sm-3 col-md-6 col-lg-7">
          <div class="container-img" style="width:100%;height:100%;padding:0px">
            <img src="assets/media/img/background.jpg" id="bkg-img" class="img-fluid">
            <div class="content">
              <h5 style="font-weight: 700;">Lost your way!!!</h5>
              <h6 style="font-weight: 700;">Don't worry. We will help you get back on board</h6>
            </div>
          </div>
        </div>
        <div *ngIf="error" class="alert alert-danger" style="height: 100px;">
          An error occured. Please try again
        </div>
        <div *ngIf="success" class="alert alert-success">
          Email sent successfully to your registered Email address
        </div>
        <div class="col-sm-9 col-md-6 col-lg-5" style="background-color: #F7F8FB;">
          <form method="POST" action="" #f="ngForm" (ngSubmit)="submit(f.value)">
            <p>Enter your registered Email and we will send you your credentials</p>
            <mat-form-field class="email">
              <mat-label>Email</mat-label>
              <input matInput type="email" required ngModel name="email" #email="ngModel" id="email"
                placeholder="abc@naagrro.com"
                pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(nagarro)\.com$">
              <mat-error class="alert alert-danger" *ngIf="email.touched && !email.valid">
                <mat-error *ngIf="email.errors.required">Email Required</mat-error>
                <mat-error *ngIf="email.errors.pattern">Invalid Email</mat-error>
              </mat-error>
            </mat-form-field>
            <br>
            <!-- <div class="form-group ">
              <label for="email" class="label">E mail</label>
              <input required ngModel name="email" #email="ngModel" id="email" type="email"
                class="form-control mx-auto shadow-lg bg-white" placeholder="Username" style="width:80%"
                pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(nagarro)\.com$">
              <div id="email-error-label" class="alert alert-danger" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Email required</div>
                <div *ngIf="email.errors.pattern">Invalid Email</div>
              </div>
            </div> -->
            <div>
              <button mat-raised-button color="primary" [disabled]="!f.valid">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>


  </div>

</div>