<div  id="main" style="background-image: url('assets/media/img/back.jpg')">

  <div class="container-fluid " style="margin-top: 200px" >
      <div class="container card shadow-lg" style="height: 100%; padding:0px"  > 
          <div class="row no-gutters" >
              <div class="col-sm-3 col-md-6 col-lg-7">
                  <div class="container-img" style="width:100%;height:100%;padding:0px">
                      <img src="assets/media/img/background.jpg" id="bkg-img" class="img-fluid">
                      <div class="content">
                          <h5 style="font-weight: 700;">Lost your way!!!</h5>
                          <h6 style="font-weight: 700;">Don't worry. We will help you get back on board</h6>
                      </div>
                  </div>
              </div>

              <div class="col-sm-9 col-md-6 col-lg-5" style="background-color: #F7F8FB;" >
                <form method="POST" action="" #f="ngForm" (ngSubmit)="submit(f)">
                   <p>Enter your registered Email and we will send you your credentials</p>
                  <div class="form-group " >
                      <label for="email" class="label">E mail</label>
                      <input required ngModel name="email" #email="ngModel" id="email" type="email" class="form-control mx-auto shadow-lg bg-white" placeholder="Username" style="width:80%" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                      <div id="email-error-label" class="alert alert-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="email.errors.required">Email required</div>
                        <div *ngIf="email.errors.pattern">Invalid Email</div>
                      </div>
                    </div>
                    <div class="form-group"> 
                      <button class="btn btn-primary mx-auto btn-block shadow-lg  " style="width:80%;background-color:#FA5162" [disabled]="!f.valid">Submit</button>
                    </div>
                 </form> 
              </div>

          </div>
      </div>
     

</div>    

</div>