<div class="conatiner-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-8">
            <img src="assets/media/img/background.jpg" id="bkg-img">
        </div>
        <div class="col-sm-9 col-md-6 col-lg-4" id="signup-form">
            <br>
            <h3>Forgot username and password</h3>
            <p>Please enter your registered email and the information will be emailed to you</p>
            <form method="POST" action="cnf-reg" #f="ngForm" (ngSubmit)="submit(f)">
                <div class="form-group">
                    <label for="email">E-mail</label><br>
                    <input required ngModel name="email" #email="ngModel" type="email" id="email" class="form-control"
                        width="20" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
                        <div *ngIf="email.errors.required">Email Required</div>
                        <div *ngIf="email.errors.pattern">Invalid Email</div>
                    </div>
                </div>
                <!--                                            Submit Button                                              -->
                <button class="btn btn-primary" id="login-btn" [disabled]="!f.valid" onclick="confirm()">Submit</button>
            </form>
        </div>
    </div>
</div>