<app-user></app-user>
<div *ngIf="error" class="alert alert-danger">
    Unable to fetch records. Please try again
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Title</th>
            <th scope="col">Business Unit</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of data_split;let i = index" (click) = "getId(user.email)">
            <td>{{ user.id }}</td>
            <td>{{ user.fName }}</td>
            <td>{{ user.lName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.BU }}</td>
            <td>
                <i (click)="edit(user, i)" class="fa fa-pencil" aria-hidden="true"></i>
                <i (click)="remove(user, i)" class="fa fa-trash" aria-hidden="true"></i>
            </td>
        </tr>
    </tbody>
</table>