.img-fluid{
    width:100%;
    height:100%;
    opacity:0.8;
}
.card {
    /* width: 250px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
  }
#main {
    background-color: #cccccc;
   }
h4{
    color:#164B9E;
    font-size: larger;
    padding:40px;
}
button{
    display: block;
}

.container-img {
    position: relative;
    margin: 0 auto; 
  }
  
.container-img .content {
    position: absolute; 
    bottom: 0; 
    background: #0E3B7F; 
    background: rgba(129, 207, 224, 0.5); 
    color:rgba(31, 58, 147, 1); 
    width: 100%; 
    padding: 20px; 
}

.label{
    color: #0868D5;
    font-size:small;
    padding-left:50px;
  }
#username-error-label{
    padding-left:50px; 
}
#pwd-error-label{
    padding-left:50px; 
}
.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}

