<app-user></app-user>
<div id="banner">
    <b>Coronavirus & Travel:</b>&nbsp;All You Need to Know
</div>
<div id="conatiner" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="assets/media/img/img1.jpeg">
        </div>
        <div class="carousel-item active">
            <img src="assets/media/img/img2.jpg">
            <div class="carousel-caption d-none d-md-block">
                <h5>Book Travel Tickets With Ease</h5>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/media/img/img3.jpg">
            <div class="carousel-caption d-none d-md-block">
                <h5>Enjoy this view with just one click. Book your tickets now</h5>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <b>Stay Home, Stay Safe</b>
</div>